@model PREP.Models.ReleaseGeneralDetails

<h2 class="header-title">General Details</h2>
<div class="detailsContent">
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.ReleaseID)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.ReleaseID)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.AccountName)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.AccountName)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.Size)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.Size)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.LOB)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.LOB)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.LastCP)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.LastCP)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.LastCPDate)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.LastCPDate)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.CreatedBy)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </div>
        <div class="form-inline" id="ModifiedDate">
            @Html.DisplayFor(model => model.ModifiedDate)
        </div>
    </div>
    <hr />
    <div>
        <div class="item-lable">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </div>
        <div class="form-inline">
            @Html.DisplayFor(model => model.ModifiedBy)
        </div>
    </div>
</div>
